<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/vender/open-iconic-master/font/css/open-iconic-bootstrap.css">
  </head>
  <body>
    <div class="app">
      {{> header}}
      <div class="container">

        {{{body}}}

      </div>
      {{> footer}}
    </div>


  </body>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</html>